<%- include('_part/top') %>
<%- include('_part/head') %> 

<h1>current</h1>
<p><%= exampleName %></p>
<p><%= current.success %></p>
<p><%= current.javaScriptFiles %></p>

<%- include('_part/bottom') %>