<!DOCTYPE html>
<html lang="en">
<%- include('_part/head') %> 

<body>

<div class="warp_main">
<%- include('_part/header') %>
<div class="warp_content">


<h1><%= exampleName %>, Current Version </h1>
<p>build folder: <%= current.success %></p>

<!-- Main canvas example container -->
<div id="canvas-app"></div>

<!-- working script tags for canvas example -->
<% (current.javaScriptFiles || []).forEach(function(url){ %>
    <script src="<%= url %>" ></script>
<% }); %>

</div>
<%- include('_part/footer') %> 

</div>
</body>

</html>