<%- include('_part/top') %>
<%- include('_part/head') %> 

<h1>current</h1>
<p><%= exampleName %></p>
<p><%= current.success %></p>

<div id="canvas-app"></div>

<% current.javaScriptFiles.forEach(function(url){ %>
    <p><%= url %></p>
<% }); %>

<%- include('_part/bottom') %>