<%- include('_part/top') %>
<%- include('_part/head') %> 

<h1>current</h1>
<p><%= exampleName %></p>
<p><%= current.success %></p>

<div id="canvas-app" style="width:640px;height:480px;background:gray;"></div>

<% current.javaScriptFiles.forEach(function(url){ %>
    <script src="<%= url %>" ></script>
<% }); %>

<%- include('_part/bottom') %>